In [1]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# %matplotlib inline
# import seaborn as sns

In [2]:
df1 = pd.read_csv("train.csv", parse_dates=['joining_date'])

In [3]:
df2 = pd.read_csv("test.csv", parse_dates=['joining_date'])
sample1 = pd.DataFrame(df2["customer_id"])

In [4]:
df1 = df1.drop(["customer_id","Name","security_no","referral_id","last_visit_time"], axis=1)

In [5]:
df2 = df2.drop(["customer_id","Name","security_no","referral_id","last_visit_time"], axis=1)

In [6]:
# drop 296/36992  rows as in churn_risk_score its -1
index_names1 = df1[ df1['churn_risk_score'] == -1 ].index
df1.drop(index_names1, inplace = True)

In [7]:
df1.replace('Error', np.NaN, inplace=True)

In [8]:
df2.replace('Error', np.NaN, inplace=True)

In [9]:
df1["avg_frequency_login_days"] = df1["avg_frequency_login_days"].astype("O").astype("float64")

In [10]:
df2["avg_frequency_login_days"] = df2["avg_frequency_login_days"].astype("O").astype("float64")

In [11]:
df1.replace('?', np.NaN, inplace = True)

In [12]:
df2.replace('?', np.NaN, inplace = True)

In [13]:
#random sample imputation for handling nan values
def impute_nan(df,variable):
    #df[variable+"_median"]=df[variable].fillna(median)
    df[variable+"_random"]=df[variable]
    random_sample=df[variable].dropna().sample(df[variable].isnull().sum(), random_state=0)
    random_sample.index=df[df[variable].isnull()].index
    df.loc[df[variable].isnull(),variable+"_random"]=random_sample

In [14]:
#all has been replaced with random sample
for feature in ["region_category", "joined_through_referral", "preferred_offer_types", 
                "medium_of_operation", "avg_frequency_login_days","points_in_wallet"]:
    impute_nan(df1, feature)
    impute_nan(df2, feature)

In [15]:
df1 = df1.drop(["region_category", "joined_through_referral", "preferred_offer_types",
          "medium_of_operation", "avg_frequency_login_days", "points_in_wallet"], axis=1)

In [16]:
df2 = df2.drop(["region_category", "joined_through_referral", "preferred_offer_types",
          "medium_of_operation", "avg_frequency_login_days", "points_in_wallet"], axis=1)

In [17]:
df1['days']=(pd.to_datetime("2021-03-16")-df1['joining_date'])/np.timedelta64(1,'D')

df1.drop("joining_date",axis=1, inplace = True)

In [18]:
df2['days']=(pd.to_datetime("2021-03-16")-df2['joining_date'])/np.timedelta64(1,'D')

df2.drop("joining_date",axis=1, inplace = True)

In [19]:
replace_map = {'membership_category': {'No Membership': 1, 'Basic Membership': 2, 'Premium Membership': 3, 'Silver Membership': 4,
                                         'Gold Membership': 5, 'Platinum Membership': 6}}
df1.replace(replace_map, inplace=True)
df2.replace(replace_map, inplace=True)

In [20]:
replace_map1 = {'feedback': {'Poor Product Quality': 1, 'Too many ads': 2, 'No reason specified':3, 
                             'Poor Customer Service': 4,'Poor Website':5, 'Reasonable Price': 6, 'User Friendly Website':7,
                             'Products always in Stock':8, 'Quality Customer Care':9}}
df1.replace(replace_map1, inplace=True)
df2.replace(replace_map1, inplace=True)

In [21]:
df1 = pd.get_dummies(df1, drop_first=False)
df2 = pd.get_dummies(df2, drop_first=False)

In [22]:
X = df1.drop("churn_risk_score", axis=1)
print(len(X.columns))
y=df1["churn_risk_score"]
#y.head()

37

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [24]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
df2=sc.transform(df2)

In [25]:
n_estimators = [25]
max_depth = [25]
min_samples_leaf = [2]
bootstrap = [True, False]

param_grid = {
    "n_estimators": n_estimators,
    "max_depth": max_depth,
    "min_samples_leaf": min_samples_leaf,
    "bootstrap": bootstrap,
}

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state=42)

from sklearn.model_selection import GridSearchCV
rf_model = GridSearchCV(estimator=rf, param_grid=param_grid, cv=2, verbose=10, n_jobs=-1)
rf_model.fit(X_train, y_train)

print("Using hyperparameters --> \n", rf_model.best_params_)

Fitting 2 folds for each of 2 candidates, totalling 4 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    6.9s
[Parallel(n_jobs=-1)]: Done   2 out of   4 | elapsed:    7.6s remaining:    7.6s
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    9.3s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    9.3s finished

Using hyperparameters -->
 {'bootstrap': True, 'max_depth': 25, 'min_samples_leaf': 2, 'n_estimators': 25}

In [26]:
y_pred = rf_model.predict(X_test)
y_pred=np.rint(y_pred)
y_pred

array([4., 4., 4., ..., 5., 4., 3.])

In [27]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
print(f"Test Set Accuracy : {accuracy_score(y_test, y_pred) * 100} %\n\n")
print(f"Classification Report : \n\n{classification_report(y_test, y_pred)}")
print("\n", confusion_matrix(y_test, y_pred))

Test Set Accuracy : 77.56195579370396 %


Classification Report :

              precision    recall  f1-score   support

           1       0.73      0.79      0.76       680
           2       0.76      0.70      0.73       668
           3       0.91      0.92      0.92      2634
           4       0.69      0.60      0.64      2500
           5       0.73      0.82      0.77      2476

    accuracy                           0.78      8958
   macro avg       0.76      0.77      0.76      8958
weighted avg       0.77      0.78      0.77      8958


 [[ 535  145    0    0    0]
 [ 199  469    0    0    0]
 [   0    0 2419  215    0]
 [   0    0  232 1507  761]
 [   0    0    0  458 2018]]

In [28]:
df2_pred = rf_model.predict(df2)
df2_pred=np.rint(df2_pred).astype(int)
df2_pred

array([3, 3, 3, ..., 5, 4, 3])

In [29]:
# making sample csv file to submit
sample2=pd.DataFrame(df2_pred)
sample=pd.concat([sample1, sample2], join = 'outer', axis = 1)

In [30]:
sample.columns = ['customer_id','churn_risk_score']

In [31]:
sample_data = sample.to_csv('sample.csv', index = False)

In [32]:
sample

                                customer_id  churn_risk_score
0      fffe43004900440031003700300030003400                 3
1      fffe43004900440031003900370037003300                 3
2      fffe43004900440034003800360037003000                 3
3      fffe43004900440036003200370033003400                 3
4      fffe43004900440035003000370031003900                 4
...                                     ...               ...
19914  fffe43004900440035003600330037003800                 3
19915  fffe43004900440032003900370037003100                 5
19916  fffe43004900440036003100310036003700                 5
19917  fffe43004900440034003200330033003600                 4
19918  fffe43004900440036003200340030003100                 3

[19919 rows x 2 columns]